<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.DemoMapper">
    <select id="getDemo" resultType="java.util.Map">
        SELECT * FROM demo limit 1;
    </select>

    <insert id="insertDemo" >
        insert into demo(TEST, TEST2) values(2, '001');
    </insert>
</mapper>